<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Description, style: "display: block" %>
    <%= form.text_field :Description %>
  </div>

  <div>
    <%= form.label :StartDate, style: "display: block" %>
    <%= form.date_field :StartDate %>
  </div>

  <div>
    <%= form.label :FinalDate, style: "display: block" %>
    <%= form.date_field :FinalDate %>
  </div>

  <div>
    <%= form.label :Responsability, style: "display: block" %>
    <%= form.text_field :Responsability %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
