<div id="<%= dom_id project %>">
  <p>
    <strong>Description:</strong>
    <%= project.Description %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= project.StartDate %>
  </p>

  <p>
    <strong>Finaldate:</strong>
    <%= project.FinalDate %>
  </p>

  <p>
    <strong>Responsability:</strong>
    <%= project.Responsability %>
  </p>

</div>
